body {
    font: normal 16px Inter UI, sans-serif;
    color: rgb(207, 207, 207);
    background-color: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.top {
    width: 60%;
    height: 80px;
    background-color: rgb(26, 26, 26);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.left, .right{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subright {
    display: flex;
    justify-content: flex-end;
}

.subright > a {
    margin-left: 20%;
}


.main, .top{
    padding-left: 20%;
    padding-right: 20%;
}

@media screen and (max-width: 900px) {
    .main, .top{
        padding-left: 10%;
        padding-right: 10%;
    }

    .top{
        width: 80%;
    }
}